BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=Joy World Cityfuns WMS
FE_WMS_APP_URL=http://app.wms.localhost
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_VAPID_KEY=
BREVO_EMAIL_SIGNATURE_HTML=
BREVO_EMAIL_SIGNATURE_TEXT= (Chưa có)
EXTERNAL_QUEUE_AUTO_SUBMIT_TIMES=14:00,22:00
EXTERNAL_QUEUE_AUTO_SUBMIT_CRON_SECRET=
EXTERNAL_QUEUE_AUTO_SUBMIT_WORKER_ENABLED=false
CITYFUNS_API_BASE_URL=https://cityfuns.joyworld.vn/api/v1
INTERNAL_API_KEY=
